

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


footer { 

}

body {
color: #000000;
font-family: 'Puritan', sans-serif;
}




.black{

color: #000000
}







